<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>Smartmeter Analyze{% block title %}{% endblock %}</title>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.superhero.css" rel="stylesheet">
        <style>
            body { padding-top: 70px; }
        </style>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Smartmeter Analyze</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    <li><a target="_blank" href="/about">About</a></li>
                    <li><a href="/analyze">Analyze</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>
        {% endblock %}
        <div class="container">
            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
            <hr>
            {% block footer %}
            <footer class="footer">
                <p>&copy; David Url - 2014</p>
            </footer>
            {% endblock %}
        </div>
        {% block js_footer %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
